.top-bars {
    width: 100%;
    height: 10%;
    /* background-image: url('../assets/images/barsBackground.png');
    background-size: contain; */
}

.logo-container {
    height: 100%;
}

.logo-container>img {
    height: 100%;
    padding-left: 10px;
}